@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 1rem;
  background-color: $black;
}
